@model IEnumerable<MusicRadioInc.Models.PurchaseDetail>

@{
    ViewData["Title"] = "Mis Compras";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Álbum
                </th>
                <th>
                    Total
                </th>
                <th>
                    Fecha de Compra
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aún no has realizado ninguna compra.</p>
}
